<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="toPulau()"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="fsLoaded">
    <p style="text-align:center">What's On {{fsLoaded.nama}} ?</p>
    <ion-card>
        <ion-img [src]="fsLoaded.imageUrl"> </ion-img>
        <ion-card-content>
            {{fsLoaded.desc}}
        </ion-card-content>
    </ion-card>

    <ion-grid>
        <ion-row>
            <ng-container>
                <ion-col size="4">
                    <img src="../../../assets/foods.png" routerLink="./foods">
                    <ion-label>
                        Foods
                    </ion-label>
                </ion-col>
                <ion-col size="4">
                    <img src="../../../assets/places.png" routerLink="./attractions">
                    <ion-label>
                        Places
                    </ion-label>
                </ion-col>
                <ion-col size="4">
                    <img src="../../../assets/arts.png" routerLink="./arts">
                    <ion-label>
                        Arts
                    </ion-label>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>

    <p>

        Discover More
    </p>

    <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let prov of (fsProv|async)" style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
            <ion-card (click)="moveProv(prov)" *ngIf="prov.pulauId.includes(fsLoaded.pulauId)">
                <ion-card-content>
                    <ion-img [src]="prov.imageUrl" style="pointer-events: none;"> </ion-img>
                    {{prov.nama}}
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>

</ion-content>