<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="toHome()"></ion-back-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-title>Discover {{loaded.nama}}</ion-title>
    <ion-searchbar placeholder="Find out Your Destination"></ion-searchbar>
    <ion-title>By Provinces</ion-title>
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false}">
        <ion-slide *ngFor="let prov of prov" style="width: 150px; height: 400px; border: 2px solid #f8f8f8">
            <ion-col *ngIf="prov.pulauId.includes(loaded.pulauId)" style="border-radius: 25px;">
                <ion-button expand="full" [routerLink]="['./',prov.provId]">{{ prov.nama }}</ion-button>
                <ion-img style="pointer-events:none;width: 150px;height: 350px;" src="https://atlas-content-cdn.pixelsquid.com/stock-images/black-and-white-globe-shape-PxlzYO7-600.jpg"></ion-img>
            </ion-col>
        </ion-slide>
    </ion-slides>
    <ion-title>Popular Attraction</ion-title>
    <ion-title>See Beauty on Another Island</ion-title>
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false}">
        <ion-slide *ngFor="let pulau of pulau" style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
            <ion-col style="border-radius: 25px;">
                <ion-button expand="full" (click)="movePulau(pulau)">{{ pulau.nama }}</ion-button>
                <ion-img style="pointer-events:none;border-radius: 25px;" src="https://atlas-content-cdn.pixelsquid.com/stock-images/black-and-white-globe-shape-PxlzYO7-600.jpg"></ion-img>
            </ion-col>
        </ion-slide>
    </ion-slides>
</ion-content>