<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="toHome()"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="fsLoaded">
    <p>Discover {{fsLoaded.nama}}</p>
    <ion-searchbar placeholder="Find out Your Destination"></ion-searchbar>
    <p>By Provinces</p>
    <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let prov of (fsProv|async)">
            <ion-card *ngIf="prov.pulauId.includes(fsLoaded.pulauId)" [routerLink]="['./',prov.provId]">
                <ion-card-content>
                    <ion-img [src]="prov.imageUrl" style="pointer-events: none;"> </ion-img>
                    {{prov.nama}}
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
    <p>Popular Attraction</p>
    <ion-content>
        <ion-list *ngFor="let popular of (fsPopular|async)">
            <ion-card *ngIf="popular.pulauId.includes(fsLoaded.pulauId)">
                <ion-item>
                    <ion-img [src]="popular.imgUrl"></ion-img>
                </ion-item>
                <ion-item>
                    <ion-label>{{popular.nama}}</ion-label>
                </ion-item>

                <ion-card-content>
                    {{popular.desc}}
                </ion-card-content>
            </ion-card>
        </ion-list>
        <p>See Beauty on Another Island</p>
        <ion-slides [options]="sliderConfig">
            <ion-slide *ngFor="let pulau of (fsPulau|async)" style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
                <ion-card (click)="toPulau(pulau)">
                    <ion-card-content>
                        <ion-img [src]="pulau.imgUrl" style="pointer-events: none;"> </ion-img>
                        {{pulau.nama}}
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-content>