<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="toHome()"></ion-back-button>
        </ion-buttons>
        <ion-title>Discover {{loaded.nama}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Find out Your Destination"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let prov of prov">
            <ion-button *ngIf="prov.pulauId === loaded.pulauId" [routerLink]="['./',prov.provId]">{{prov.nama}}</ion-button>
        </ion-item>
    </ion-list>
    <ion-title>Popular Attraction</ion-title>
    <ion-title>See Beauty on Another Island</ion-title>
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false}">
        <ion-slide *ngFor="let pulau of pulau" style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
            <ion-col>
                <ion-button (click)="movePulau(pulau)">{{ pulau.nama }}</ion-button>
                <ion-img style="pointer-events:none" src="https://atlas-content-cdn.pixelsquid.com/stock-images/black-and-white-globe-shape-PxlzYO7-600.jpg"></ion-img>
            </ion-col>
        </ion-slide>
    </ion-slides>
</ion-content>