<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="back()"></ion-back-button>
        </ion-buttons>
        <ion-title>Local Foods </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="fsLoaded">
    <ion-list *ngFor="let food of (fsFoods|async)">
        <ion-card *ngIf="food.provId.includes(fsLoaded.provId)">
            <ion-item>
                <ion-img [src]="food.imgUrl"></ion-img>
            </ion-item>
            <ion-item>
                <ion-label>{{food.nama}}</ion-label>
                <ion-button fill="outline" slot="end" [routerLink]="[food.id]">Location</ion-button>
            </ion-item>

            <ion-card-content>
                {{food.desc}}
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>