<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="back()"></ion-back-button>
        </ion-buttons>
        <ion-title>Tourist Attractions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="fsLoaded">
    <ion-list *ngFor="let attr of (fsAttract|async)">
        <ion-card *ngIf="attr.provId.includes(fsLoaded.provId)">
            <ion-item>
                <ion-img [src]="attr.imgUrl"></ion-img>
            </ion-item>
            <ion-item>
                <ion-label>{{attr.nama}}</ion-label>
                <ion-button fill="outline" slot="end" [routerLink]="[attr.id]">Location</ion-button>
            </ion-item>

            <ion-card-content>
                {{attr.desc}}
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>