<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home/./."></ion-back-button>
        </ion-buttons>
        <ion-title>Regional Arts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let arts of arts">
        <ion-item *ngIf="arts.provId.includes(loaded.provId)">
            <ion-title>
                {{arts.nama}}
            </ion-title>
            <ion-text class="item-text-wrap">
                {{arts.desc}}
            </ion-text>
        </ion-item>
    </ion-list>
</ion-content>